/* src/styles/auth.css */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('C:\Users\akshi\Desktop\SMP\smp_portal\frontend\public\images\smp.png') no-repeat center center/cover; /* Background Image */
  }
  
  .auth-box {
    width: 400px;
    padding: 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .auth-box h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .auth-box form {
    display: flex;
    flex-direction: column;
  }
  
  .auth-box input {
    margin-bottom: 15px;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
  }
  
  .auth-box button {
    padding: 12px;
    font-size: 1.2rem;
    background-color: violet;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .auth-box button:hover {
    background-color: darkviolet;
  }
  
  .auth-box p {
    margin-top: 15px;
    color: #555;
  }
  
  .auth-box span {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
  }
  